<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag    'mailer', media: 'all', 'data-turbolinks-track': 'reload' %>
    <p><%= @email %>　ScoutMeへようこそ!</p>
      <p>メールアドレスの確認をした後にご利用頂けます。</p>
        <%= image_tag attachments['mail.png'].url %>
          <p><%= link_to '確認する', confirmation_url(@resource, confirmation_token: @token), class: "square2_btn" %></p>
   <body>
     <ul>
       <li><%= link_to "About",   '#' %></li>
       <li><%= link_to "Contact", '#' %></li>
       <li><%= link_to "Contact", '#' %></li>
       <li><%= link_to "Contact", '#' %></li>
     </ul>
   </body>
</html>